
<script setup lang="ts">
		import { onMounted } from "vue";
		import GetStories from "../ajax/getStories"
	function loadStories(){
				GetStories()	
		}		
		onMounted(() => {
				console.log("mounted")
				GetStories()
		})
</script>

<template>
  <main>
		  <h2>This is a test</h2>
  </main>
</template>
