<script setup lang="ts">
import { ref, watch } from 'vue'
import type { Ref } from 'vue'
import TextInputForm from "./components/CreateStory/AddText.vue" 
import PictureInputForm from "./components/CreateStory/AddPictures.vue"
import UploadStory from "./ajax/uploadStory"
import type IStory from "./models/IStory"

const story: Ref<IStory> = ref({
    heading: "",
    storyText: "",
    uploadDate: new Date(),
    picture: new File([], ""),
    pictureAltText: ""
})

const uploadStep = ref(0)

watch(story, newStory => {
    console.log(newStory)
})

function uploadStory(){
    console.log(story.value)
    UploadStory(story.value)
}
</script>


<template>
    <div>    <PictureInputForm v-if="uploadStep == 0" v-model:picture="story.picture" v-model:altText="story.pictureAltText"/>
    <TextInputForm v-if="uploadStep == 1" v-model:heading="story.heading" v-model:storyText="story.storyText"/>
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" v-if="uploadStep > 0" @click="uploadStep--">Previous</button>
        <button class="btn btn-primary" v-if="uploadStep < 2" @click="uploadStep++">Next</button>
        <button class="btn btn-primary" v-if="uploadStep == 2" @click="uploadStory">Publish</button>
    </div>

</div>
</template>
<style scoped>
</style>
