<script setup>
    import { ref, computed } from 'vue';
    import PictureInput from 'vue-picture-input'
   
    const props = defineProps(["picture","altText"])
    const emit = defineEmits(["update:picture","update:altText"])
   
    const pictureInput = ref(null)
    const altTextModel = computed({
        get() {
            return props.altText
        },
        set(value) {
            emit('update:altText',value)
        }
    })
    function onImageChange(){
        emit("update:picture", pictureInput.value.file) 
    }
</script>
<template>
    <h2>Upload Picture</h2>
     <PictureInput
        ref="pictureInput"
        width="600"
        height="600"
        margin="16"
        accept="image/jpeg,image/png"
        size="10"
        button-class="btn btn-primary"
        :custom-strings="{
        upload: '<h1>Bummer!</h1>',
        drag: 'Drag an image you want to share'
      }"
        @change="onImageChange"
    />
    <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea v-model="altTextModel" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
    
</template>
