<script setup lang="ts">
    import {computed} from 'vue'
    const props = defineProps(['heading', 'storyText'])
    const emit = defineEmits(['update:heading','update:storyText'])
    
    const headingModel = computed({
        get() {
            return props.heading
        },
        set(value) {
            emit('update:heading', value)
        }
    })
    const storyTextModel = computed({
        get() {
            return props.storyText
        },
        set(value) {
            emit('update:storyText', value)
        }
    })


</script>

<template>
    <h2>Add text</h2>
    <div>
        <input type="text"  v-model="headingModel" placeholder="heading">
    </div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea v-model="storyTextModel" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

</template>
